.promo__title {
  max-width: 730px;
  max-height: 116px;
  margin: 0 auto 0;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  /* or 116% */

  text-align: center;
  letter-spacing: -0.04em;

  color: #FFF;
}