.promo {
  padding-top: 184px;
  background-color: #073042;
  background-image: url('../../images/landing-logo.svg');
  background-position: center 82px;
  background-repeat: no-repeat;
  background-size: 320px;
}