.portfolio__link-container {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #E6E6E6;
  padding-bottom: 19px;
}

.portfolio__link-container:last-child {
  border-bottom: none;
}