.promo__container {
 /* min-height: 524px;
   background-image: url('../../../images/landing-logo.svg');
  background-position: center 82px;
  background-repeat: no-repeat;
  background-size: 320px;*/
}