.section__title-wrapper {
  /* margin-top: 110px; */
  border-bottom: 1px solid;
}

@media screen and (max-width: 520px) {
  .section__title-wrapper {
    margin-left: 18px;
    margin-right: 18px;
  }
}

@media screen and (max-width: 400px) {
  .section__title-wrapper {
    margin: 0;
  }
  .techs_title-wrapper {
    border-color: #000;
  }
}