.search {
  /* min-height: 222px; */
  /* padding: 80px auto 10px; */
  box-sizing: border-box;
  padding-top: 80px;
  padding-bottom: 10px;
}

.search__wrapper {
  border-bottom: 1px solid #E8E8E8;
  padding-bottom: 83px;
}

.search__input {
  width: 932px;
  height: 48px;
  border-radius: 24px;
  border-color: #E8E8E8;
  /* background-color: #E8E8E8; */
}

.search__form {
  display: flex;
  align-items: center;
}
.search__button {
  width: 80px;
  height: 34px;
  border: 0;
  padding: 0;
  color: #FFF;
  background-color: #FFF;
  position: relative;
  right: 87px;
}

@media screen and (max-width: 800px) {
  .search__form {
    flex-direction: column;
  }
  .search__input {
    width: 100%;
  }
  .search__button {
    align-self: flex-end;
    right: 7px;
    bottom: 44px;
  }
  .search__wrapper {
    padding-bottom: 57px;
  }
}

/* @media screen and (max-width: 540px) {
  .content {
    max-width: 400px;
  }
} */

@media screen and (max-width: 400px) {
  .search {
    padding-top: 60px;
  }
}