.filter-checkbox{
  display: flex;
  align-items: center;
}
.filter__title{
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  /* identical to box height, or 138% */
  color: #000000;
}
.filter-checkbox__label{
  width: 36px;
  height: 20px;
  display: block;
  margin-left: 16px;
}

.filter-checkbox__input + span {
  /* position: absolute; */
  display: inline-block;
  position: relative;
  left: -2px; top: -20px;
  width: 100%; height: 100%;
  background: url(../../images/tumbFilter.svg) no-repeat;
}
.filter-checkbox__input:checked + span {
  background-position: -0 -40px;
}