.section__title {
  margin: 0 0 23px;
  font-size: 22px;
  line-height: 27px;
  font-weight: 400;
/* identical to box height */
  letter-spacing: -0.04em;
}

@media screen and (max-width: 520px) {
  .section__title {
    margin-bottom: 28px;
    margin-left: 18px;
    font-size: 18px;
    line-height: 22px;
  }
}

@media screen and (max-width: 400px) {
  .section__title {
    margin-left: 0;
  }
}