.content {
  max-width: 1140px;
  margin: 0 auto 0;
  /* display: flex;
  align-items: center;
  justify-content: space-between; */
}

@media screen and (max-width: 800px) {
  .content {
    max-width: 708px;
  }
}
@media screen and (max-width: 540px) {
  .content {
    max-width: 400px;
  }
}

@media screen and (max-width: 400px) {
  .content {
    max-width: 292px;
  }
}
