.content {
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-row-gap: 110px;
}

@media screen and (max-width: 1150px) {
  .content {

  }
}
@media screen and (max-width: 800px) {
  .content {
    grid-row-gap: 90px;
  }
}
/* @media screen and (max-width: 540px) {
  .content {
    max-width: 400px;
  }
} */

@media screen and (max-width: 400px) {
  .content {
    grid-row-gap: 70px;
  }
}
